html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent; 
}
  
body {
	font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
    background: #37040A url(../images/background-body.gif);
    background-image: url(file:///Users/bgalok/StarTrackr/images/background-body.gif);

}

#tab-bar {
    background: #050405;
    border-bottom: 1px #441D22 solid;
    position: relative;
    zoom: 1;
}

.cssgradients #tab-bar {
    background-image: -webkit-gradient(liner, 0% 0%, 0% 100%, from(#353535), color-stop(0.55, #212021), color-stop(0.551, #090809), to (#050405) );

    background-image: -webkit-linear-gradient(#353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -moz-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -o-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    background-image: -ms-linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
    
    background-image: linear-gradient(top, #353535, #212021 55%, #090809 55.1%, #050405);
}

#tab-bar:before, #tab-bar:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}

#tab-bar:after {
    clear: both;
}

#tab-bar li {
    display: inline;
    float: left;
    width: 33.333%;
}

#tab-bar a {
    color: #CDCDCD;
    display: block;
    font-size: 0.875em;
    font-weight: bold;
    height: 4.583em;
    margin: 0 0.833em;
    overflow: hidden;
    padding-top: 0.428em;
    position: relative;
    text-align: center;
    text-decoration: none;
}

#tab-sighting a {
    background: #D5D2D2;
    color: #111111;
    height: 4.95em;
    margin: 0 0 -0.367em;
    
    -webkit-border-bottom-left-radius: 0.286em;
    -webkit-border-bottom-right-radius: 0.286em;

    -moz-border-radius-bottomleft: 0.286em;
    -moz-border-radius-bottomright: 0.286em;

    border-bottom-left-radius: 0.286em;
    border-bottom-right-radius: 0.286em;

    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;

    -o-box-shadow: black 0 0 4px 0;
    -webkit-box-shadow: black 0 0 4px 0;
    -moz-box-shadow: black 0 0 4px 0;

    box-shadow: black 0 0 4px 0;
}

.page-sightings #tab-sighting a {
    background-color: #f2d868;
}

.page-sightings #tab-sighting a {
    background-color: #f2d868; 
}
    
.cssgradients .page-sightings #tab-sighting a {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f3dc77), color-stop(0.55, #f6e496), color-stop(0.551, #f2d868), to(#eed360));

    background-image: -webkit-linear-gradient(top, #f3dc77, #f6e496 55%, #f2d868 55.1%, #eed360);
    background-image: -moz-linear-gradient(top, #f3dc77, #f6e496 55%, #f2d868 55.1%, #eed360);
    background-image: -o-linear-gradient(top, #f3dc77, #f6e496 55%, #f2d868 55.1%, #eed360);
    background-image: -ms-linear-gradient(top, #f3dc77, #f6e496 55%, #f2d868 55.1%, #eed360);

    background-image: linear-gradient(top, #f3dc77, #f6e496 55%, #f2d868 55.1%, #eed360); 
}


.page-spots #tab-spots a {
    color: #EBC466;
}

.cssgradients .page-spots #tab-spots a {
    background-image: -webkit-gradient(liner, left top, left bottom, from(rgba(40,40,40, .9)), color-stop(0.55, rgba(35, 35, 35, .5)),  to (rgba(46, 46, 46, .1)) );

    background-image: -webkit-linear-gradient(rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba( 46,46, 46, .1));
    background-image: -moz-linear-gradient(rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba( 46,46, 46, .1));
    background-image: -o-linear-gradient(rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba( 46,46, 46, .1));
    background-image: -ms-linear-gradient(rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba( 46,46, 46, .1));
        
    background-image: linear-gradient(rgba(40, 40, 40, .9), rgba(35, 35, 35, .5) 55%, rgba( 46,46, 46, .1));    
} 

.page-spots #tab-spots a:before, .page-stars #tab-stars a:before {
    content: "";
    display: block;
    height: 0.5em;
    margin-left: -0.5em;
    left: 50%;
    position: absolute;
    margin-top: 0;
    top: 0;
    width: 1em; 
}

.cssgradients .page-spots #tab-spots a:before, .cssgradients .page-stars #tab-stars a:before {
     
       -webkit-border-bottom-left-radius: 0.143em;
      -webkit-border-bottom-right-radius: 0.143em;
      -moz-border-radius-bottomleft: 0.143em;
      -moz-border-radius-bottomright: 0.143em;

      border-bottom-left-radius: 0.143em;
      border-bottom-right-radius: 0.143em;

      background-image: -webkit-gradient(radial, 50% 0, 0, 50% 0, 7, from(rgba(236, 223, 156, 0.9)), to(rgba(0, 0, 0, 0)));

      background-image: -webkit-radial-gradient(rgba(236, 223, 156, 0.9), rgba(0, 0, 0, 0));
      background-image: -moz-radial-gradient(rgba(236, 223, 156, 0.9), rgba(0, 0, 0, 0));
      background-image: -o-radial-gradient(rgba(236, 223, 156, 0.9), rgba(0, 0, 0, 0));
      background-image: -ms-radial-gradient(rgba(236, 223, 156, 0.9), rgba(0, 0, 0, 0));

      background-image: radial-gradient(rgba(236, 223, 156, 0.9), rgba(0, 0, 0, 0)); 
}

.table-view {
    background: #7C0C18;
}

.table-view li {
    border-top: 1px #8C2A34 solid;
    border-bottom: 1px #640913 solid;
}

.table-view .even {
    background: #830F1B;
}

.table-action li {
    position: relative;
}

.table-action a {
    color: #D6B69E;
    display: block;
    padding: 0.5em 0.785em 0.714em;
    position: relative;
    text-decoration: none;
    text-shadow: rgba() 0 -1px 1px;
}

.table-action h2 {
    color: white;
    font-size: 1.285em;
    width: 82%;
}

.table-acion .relative-distance {
    font-weight: normal;
}

.table-action .sightings {
    background: #6F0914;
    border: 1px #841420 solid;
    .webkit-border-radius: 0.143em;
    .moz-border-radius: 0.143em;
    border-radius: 0.143em;
    color: #EBC466;
    font-weight: bold;
    position: absolute;
    padding: 0.214em 0.429em;
    right: 2.5em;
    top: 50%;
    margin-top: -1.1em;
}

#tab-bar a:after {
    content: url(../images/sprite.png);
    position: absolute;
    overfolw:hidden;
    left: 50%;
    top: 1.833em;

}

.svg #tab-bar a:after {
    content: url(../images/sprite.svg);
}

#tab-spots a:after {
    clip: rect(0 18px 33px 0px);
    margin-left: -10px;
}

.page-spots #tab-spots a:after {
    clip: rect(0 37px 33px 18px);
    margin-left: -29px;
}

#tab-stars a:after {
    clip: rect(0 87px 33px 38px);
    margin-left: -64px;
}

.page-stars #tab-stars a:after {
    clip: rect(0 140px 33px 88px);
    margin-left: -115px;
}

#tab-sighting a:after {
    clip: rect(0 191px 33px 140px);
    margin-left: -165px;
}

@font-face {
    font-family: 'MyFontFamily';
    src: url('myfont-webfont.eot?') format('eot'),
        url('myfont-webfont.woff') format('woff').
        url('myfont-webfont.ttf') format('ttf').
        url('myfont-webfont.svg#svgFontName') format('svg').        
}
