#pages {
	position: relative;
}

#pages > div {
	display: none;
	position: absolute;
 	top: 0;
  	left: 0;
  	width: 100%;

}

#pages > div.current {
	display:block;
}

.in, .out {
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-duration: 300ms;
}

@-webkit-keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; } 
}

@-webkit-keyframes fade-in-out {
	from { opacity: 0; }
	50% { opacity: 1; } 
	to { opacity: 0; } 
}

.fade.in {
	-webkit-animation-name: fade-in;
	z-index: 10;
}

.fade.out {
  z-index: 0;
}

